.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../images/hypnotize.png);
}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

a{
	text-decoration: none;
	color: #777777;	
}

header{
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	margin-bottom: 40px;
}

nav{
	width: 960px;
	margin-left: 150px;
}

h1{
	float: left;
	background-color: #4aaaa5;
	height: 62px;
	width: 238px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	text-align: center;	
	padding-top: 25px;
}

li{
	float: right;
	font-size: 15px;
	margin: 35px 10px 0px 10px;
}

section{
	width: 650px;
	float: left;
	background-color: #ffffff;
	height: 550px;
	margin: 0px 40px 0px 150px;
}

h2{
	color: #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	padding: 30px 0px 20px 40px;
}

p{
	line-height: 30px;
	margin: 40px 40px 0px 0px;
	text-align: justify;
}

h3{
	color: #4aaaa5;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 25px 0px;
}

.bioPic{
	height: 330px;
	float: left;
	margin: 40px;
}

section, aside {
	border: 1px solid #dddddd;
}

aside{
	float: left;
	width: 270px;
	background-color: #ffffff;
	height: 190px;
}

.social{
	margin: 25px;
}

aside a{
	margin: 5px;
}

aside img{
	width: 58px;
	height: 58px;
}

footer {
	border-top: 5px solid #4aaaa5;
	clear: both;
	background-color: #666666;
	color: white;
	font-size: 12px;
	text-align: center;
	padding-top: 25px;
	height: 45px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

/**************Contact Specific Styles******************/

form {
	margin: 40px;
}

label{
	font-weight: bold;
}

#name, #mail, #msg{
	width: 100%;
}

input{
	color: inherit;
	margin-bottom: 15px;
	height: 30px;
}

textarea{
	height: 150px;
}
button{
	background-color: #4aaaa5;
	color: white;
	font-size: 20px;
	border: none;
	margin-top: 15px;
	height: 50px;
	width: 100px;
}


/********************Portfolio Specific Styles*****************/

.portfolio{
	height: 900px;
}

.portpic {
	height: 200px;
}

figcaption {
	background-color: #4aaaa5;
	color: white;
	height: 60px;
	width: 267px;
	position: relative;
	bottom: 70px;
}

.left {
	float: left;
}

.margin {
	margin: 40px;
}
